.bloop
.bsp
.idea
.metals
.vscode
target
.semanticgraphs
/*.json
/*.gdf
/*.xml
/*.bin
/*.txt
/*.html
/*.gml
/*.js
/*.graphml
.scala-build
.java-version
.DS_Store
__pycache__
trash
docker/jupyter/test*
